<div class="header container-fluid bg-white d-flex justify-content-between align-items-center p-3">
<div class="left-section text-center px-4 py-2 text-dark"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
    Medical insurance
  </font></font>
</div>

  <div class="right-section d-flex gap-3 align-items-center px-4 py-2 text-white">
    <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Who we are</font></font></span>
    <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Login</font></font></span>
    
  </div></div>