<div class="logo-section text-center py-4">
    <img src="img/shahin-logo.png" alt="Shahin Logo" class="logo logo img-fluid">
   
  </div>
  <div class="content shadow-sm rounded p-4 bg-light">
    <!-- Form -->
    <form class="search-form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <input type="tel" id="crNumber" [(ngModel)]="crNumber" name="crNumber" required maxlength="10" placeholder="Enter the commercial registration number"/>
        </div>
      
      <div class="checkbox-wrapper d-flex gap-2 ">
        <input type="checkbox" id="checkbox">
        <label for="checkbox"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">I agree to grant Shaheen the right to inquire.</font></font></label>
        
      </div>
      <button type="submit" class="search-btn"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">research</font></font></button>
      
    </form>
    <p class="message" id="message"></p>
  </div>
  <div class="frame d-flex flex-wrap justify-content-center align-items-center gap-4 my-5">
    <div class="text-wrapper">Compare</div>
    <img src="img/image.png" class="group" alt="Icon">
    <div class="text-wrapper">Security</div>
    <img src="img/image.png" class="group" alt="Icon">
    <div class="text-wrapper">Print your document</div>
</div>
  <form class="search-form">
    <div class="content2 shadow-sm rounded p-4 bg-white">

	  <div class="logo-item" style="float:left;position: relative;top: 28px;"><img src="img/ia.png" alt="IA Logo" style="width:150px"></div>	  
	
      <div class="logo-slider d-flex">
        <!-- Fixed Left Image -->
  
        <!-- Scrolling Right Images -->
        <div class="logo-moving w-100 overflow-hidden">
            <div class="logo-track d-flex">
                   
        <!-- Logos (duplicated for smooth scrolling) -->
        
        <div class="logo-item"><img src="img/image (2).png" alt="Malath Logo"></div> 
        <div class="logo-item"><img src="img/image (3).png" alt="UCA Logo"></div>
        <div class="logo-item"><img src="img/image (1).png" alt="IA Logo"></div>
        <div class="logo-item"><img src="img/image (2).png" alt="Malath Logo"></div> 
        <div class="logo-item"><img src="img/image (3).png" alt="UCA Logo"></div>
        <div class="logo-item"><img src="img/image (1).png" alt="IA Logo"></div>
        <div class="logo-item"><img src="img/image (2).png" alt="Malath Logo"></div> 
        <div class="logo-item"><img src="img/image (3).png" alt="UCA Logo"></div>
        <div class="logo-item"><img src="img/image (2).png" alt="Malath Logo"></div> 
        <div class="logo-item"><img src="img/image (1).png" alt="ACIG Logo"></div>

        

      </div></div>
  
</div></div></form>